body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p {
    text-align: justify;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 7%;
}

.half-width img {
    width: 100%;
}

.linkedin-button {
    text-decoration: none;
    background-image: linear-gradient(orange, #ff7300);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width2 {
    width: 50%;
    padding-right: 7%;
}

.half-width2 img {
    width: 100%;
}

.resume-button {
    text-decoration: none;
    background-image: linear-gradient(orange, #ff7300);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}